<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted">A quick timeline on how I got here.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2004-2008</h4>
                <h4 class="subheading">Education</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Originally I wanted to be a military pilot.  After being accepted into the Air Force Academy, I was told my eyes weren't good enough for a flight slot.  So I decided to pursue degrees in Finance and Economics at the University of Tennessee.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2008-2014</h4>
                <h4 class="subheading">The Real World</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">I worked in Finance/Investment Banking in California, mainly in start-up enviroments.  We tried to save the pension plans of some very large corporations in a pretty unique way.  We got surprisingly close...but couldn't survive the crash.  I was also in charge of capital investments and fundraising at a middle Tennessee based start-up before deciding to switch to tech.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>The Last 6 Months</h4>
                <h4 class="subheading">Nashville Software School</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">My brain feels like the guy in the picture. But it's a great feeling, and the Nashville Software School has been one of the best experiences I've had. Great teachers, classmates, lots of work, but now I get to build things!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>April 2015 to ?</h4>
                <h4 class="subheading">The Future</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">I'm not sure where I'll end up.  Front End Dev?  Back End?  Doesn't matter, I like working on both.  Languages?  Something new would be awesome, but JavaScript and C# have been great too.  As long as I'm solving problems and building cool things, I'll be happy.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Check Out
                <br>My Full
                <br>Resume</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
