<!-- Tools Aside -->
<aside class="tools">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-6">
        <a href="#">
          <img src="img/logos/javascript.jpg" class="img-responsive img-centered" alt="">
        </a>
      </div>
      <div class="col-md-2 col-sm-6">
        <a href="#">
          <img src="img/logos/200px-JQuery_logo.svg.png" id="jq-logo" class="img-responsive img-centered" alt="">
        </a>
      </div>
      <div class="col-md-2 col-sm-6">
        <a href="#">
          <img src="img/logos/angular.png" class="img-responsive img-centered" alt="">
        </a>
      </div>
      <div class="col-md-2 col-sm-6">
        <a href="#">
          <img src="img/logos/csharp.svg" class="img-responsive img-centered" alt="">
        </a>
      </div>
      <div class="col-md-2 col-sm-6">
        <a href="#">
          <img src="img/logos/dotnet.jpg" class="img-responsive img-centered" alt="">
        </a>
      </div>
      <div class="col-md-2 col-sm-6">
        <a href="#">
          <img src="img/logos/sql.png" id="sql-logo" class="img-responsive img-centered" alt="">
        </a>
      </div>
    </div>
  </div>
</aside>
